
.dark{
  background-color: rgb(82, 82, 82) !important;
  color: whitesmoke !important;
}
.bg-dark{
  background-color: rgb(55, 52, 52)!important;
  color: whitesmoke !important;
}
.bg-time{
  background-color: rgb(55, 52, 52)!important;
  color: whitesmoke !important;
}
.main-container { 
  background-color: white;
  height: 90vh;
  width: 90vw;
  display: flex;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
.sideBar {
  background-color: white;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  flex: 0.3;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
.chatArea {
  border: 5px solid blue;
  flex: 0.7;
}
.sideBar-header {
  background-color: white;
  border-radius: 20px;
  padding: 8px 5px; 
  margin: 5px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
.sideBar-icons{
  display: flex;
  align-items: center;
 justify-content: space-around;
 
}
.sideBar-search {
  background-color: white;
  border-radius: 20px;
  padding: 8px 5px;
  margin: 5px;
  display: flex;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
.sideBar-search input {
  outline-width: 0;
  border: none;
  font-size: 1.4rem;
  background-color: white;
  margin-left: 5px;
}
.sideBar-chat {
  background-color: white;
  border-radius: 20px;
  padding: 8px 5px;
  margin: 5px;
  flex: 1;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
.sideBar-chat-container {
  
  display: grid;
  grid-template-columns: 32px auto auto;
  grid-template-rows: auto auto;
  column-gap: 10px;
  padding: 10px;
  border-radius: 20px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  margin-bottom: 15px;
  cursor: pointer;
  background-color: rgb(207, 206, 204);
  
  
}
.sideBar-chat-container:hover {
  background-color: rgb(176, 203, 194);
  
}
.sideBar-chat-container:active {
  background-color: white;
  
}
.chat-icon {
  grid-area: 1/1/3/2;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: lightskyblue;
  height: 30px;
  width: 30px;
  padding: 2px;
  border-radius: 50%;
}
.chat-name {
  grid-area: 1/2/2/4;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
  
  
}
.chat-timestamp {
  justify-self: flex-end;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 0.7rem;
  
}
.chat-lastMessage {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.chatArea-container {
  display: flex;
  flex-direction: column;
  flex: 0.7;
  border-radius: 10px;

  
}
.chatArea-header {
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: aliceblue;
  color: black;
  padding: 10px 10px;
  margin: 10px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
.chatArea-message {
  overflow: scroll;
  margin: 10px;
  scrollbar-width: none;
  padding: 15px 10px;
  border-radius: 10px;
  flex: 1;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.chat-header-status {
  display: flex;
  justify-content: flex-start;
  flex: 1;
  align-items: center;
  gap: 5px;
}
.chatArea-text {
    background-color: white;
    border-radius: 20px;
    padding: 8px 5px;
    margin: 5px;
    display: flex;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
.input-message {
  border: none;
  border-radius: 20px;
  padding: 8px 5px;
  margin: 5px;
  display: flex;
  flex: 1;
  font-size: 20px;
}
.input-message:focus {
  outline: none;
}

.receive-message {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 5px;
  margin-bottom: 20px;
}
.receive-text {
  padding: 10px 16px;
  display: flex;
  flex-direction: column;
  background-color: rgb(40, 120, 120);
  border-radius: 10px;
}
.send-text{
  padding: 10px 16px;
  display: flex;
  flex-direction: column;
  background-color: rgb(92, 99, 99);
  border-radius: 10px;
}
.send-message {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 5px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.chat-home{
  padding: 10px 10px;
  margin: 8px;
  display: flex;
  flex: 0.7;
}
.chat-home img{
  width: 100%;
  height: 100%;
}
.create-group{
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 0.7;
}
.grp-input{
  width: 80%;
 
}
.login-box{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 0.7;
  gap: 10px;
}
.login-box h4{
  color: rgb(11, 125, 11);
   margin-bottom: 30px;
   font-size: 22px;
}
.sideBar img{
  width: 100%;
  height: 100%;
}
.userGroup-list{
  flex: 1;
  overflow: scroll;
  scrollbar-width: none;
  padding: 10px;
}



@media only screen and (max-width:736px){
  .sideBar-search{
    display: none;
  }
  .sideBar-chat{
    display: none;
  }
  .sideBar-icons{
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
   
  
  }
  .sideBar-header{
    display: flex;
    flex: 1;
  }
  .sideBar{
    flex: 0;
   }
   .chatArea-container{
    flex: 1;
   }
   .create-group{
    flex: 1;
   }
 }
 @media only screen and (max-width:420px){
  .main-container{
    width: 100vw;
    height: 100vh;
  }
  .chatArea-container{
    width: 80%;
    height: 100vh;
  }
  .chatArea-text{
    width: 90%;
      
  }
  .input-message{
    width: 80%;
  }
 
 }